In [55]:
# !pip install PublicDataReader --upgrade

In [56]:
# import imp
# import PublicDataReader
# from PublicDataReader import TransactionPrice
# imp.reload(PublicDataReader)

# service_key = "eg0rzIVzjLzLU0k%2BmCHf4gTyKxC4%2BhhxB6LzV%2BG7bjEEo%2BnlqCRFoA%2FefD46KKppluWdHWCflLac1wFd0cdTUg%3D%3D"
# api = PublicDataReader.TransactionPrice(service_key)

# # # 단일 월 조회
# # df = api.get_data(
# #     property_type="아파트",
# #     trade_type="매매",
# #     sigungu_code="11650",
# #     year_month="202212",
# # )

# # 기간 내 조회
# df = api.get_data(
#     property_type="아파트",
#     trade_type="매매",
#     sigungu_code="28185",
#     start_year_month="200001",
#     end_year_month="202501",
# )

# df.tail()

In [50]:
import sqlite3
import requests
from datetime import datetime, date, timedelta
import hashlib
import xml.etree.ElementTree as ET
import time

# SQLite 데이터베이스 생성 및 연결
conn = sqlite3.connect('RealEstateTransactions.db')
cursor = conn.cursor()

# 테이블 생성
cursor.execute('''
    CREATE TABLE IF NOT EXISTS transactions (
        transaction_id INTEGER PRIMARY KEY AUTOINCREMENT,
        hash TEXT UNIQUE,
        transaction_amount TEXT,
        construction_year TEXT,
        year TEXT,
        month TEXT,
        day TEXT,
        legal_dong TEXT,
        apartment_name TEXT,
        exclusive_area TEXT,
        jibun TEXT,
        regional_code TEXT,
        floor TEXT
    )
''')
conn.commit()

# 해시 생성 함수
def generate_hash(data):
    hash_input = "".join([data[k] for k in sorted(data.keys())])
    return hashlib.sha256(hash_input.encode()).hexdigest()

# API 호출 및 데이터 저장 함수 정의
def fetch_and_store_data(year, month, lawd_cd='28185'):
    base_url = "http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade"
    service_key = "{SECRET_KEY}"  # 실제 서비스 키 사용 필요
    deal_ymd = f"{year}{month:02d}"
    url = f"{base_url}?serviceKey={service_key}&LAWD_CD={lawd_cd}&DEAL_YMD={deal_ymd}"
    response = requests.get(url)
    if response.status_code == 200:
        root = ET.fromstring(response.content)
        for item in root.iter('item'):
            data = {
                'transaction_amount': item.findtext('거래금액').strip(),
                'construction_year': item.findtext('건축년도'),
                'year': item.findtext('년'),
                'month': item.findtext('월'),
                'day': item.findtext('일'),
                'legal_dong': item.findtext('법정동').strip(),
                'apartment_name': item.findtext('아파트'),
                'exclusive_area': item.findtext('전용면적'),
                'jibun': item.findtext('지번'),
                'regional_code': item.findtext('지역코드'),
                'floor': item.findtext('층')
            }

            hash_value = generate_hash(data)
            # 중복 검사
            cursor.execute('SELECT hash FROM transactions WHERE hash = ?', (hash_value,))
            if cursor.fetchone() is None:
                # 중복 없으면 삽입
                data['hash'] = hash_value
                cursor.execute('''
                    INSERT INTO transactions (
                        hash, transaction_amount, construction_year, year, month, day, 
                        legal_dong, apartment_name, exclusive_area, jibun, regional_code, floor
                    ) VALUES (
                        :hash, :transaction_amount, :construction_year, :year, :month, :day, 
                        :legal_dong, :apartment_name, :exclusive_area, :jibun, :regional_code, :floor
                    )
                ''', data)
                conn.commit()

# 날짜 범위 설정 및 데이터 수집
start_date = date(2000, 1, 1)
end_date = date(2024, 4, 1)

current_date = start_date
while current_date <= end_date:
    print(current_date)
    year = current_date.year
    month = current_date.month
    fetch_and_store_data(year, month)  # 데이터 수집 및 저장
    current_date += timedelta(days=32)  # 다음 달로 이동
    current_date = current_date.replace(day=1)  # 달의 첫 날로 조정
    time.sleep(1)

# 데이터베이스 연결 종료
conn.close()

2000-01-01
2000-02-01
2000-03-01
2000-04-01
2000-05-01
2000-06-01
2000-07-01
2000-08-01
2000-09-01
2000-10-01
2000-11-01
2000-12-01
2001-01-01
2001-02-01
2001-03-01
2001-04-01
2001-05-01
2001-06-01
2001-07-01
2001-08-01
2001-09-01
2001-10-01
2001-11-01
2001-12-01
2002-01-01
2002-02-01
2002-03-01
2002-04-01
2002-05-01
2002-06-01
2002-07-01
2002-08-01
2002-09-01
2002-10-01
2002-11-01
2002-12-01
2003-01-01
2003-02-01
2003-03-01
2003-04-01
2003-05-01
2003-06-01
2003-07-01
2003-08-01
2003-09-01
2003-10-01
2003-11-01
2003-12-01
2004-01-01
2004-02-01
2004-03-01
2004-04-01
2004-05-01
2004-06-01
2004-07-01
2004-08-01
2004-09-01
2004-10-01
2004-11-01
2004-12-01
2005-01-01
2005-02-01
2005-03-01
2005-04-01
2005-05-01
2005-06-01
2005-07-01
2005-08-01
2005-09-01
2005-10-01
2005-11-01
2005-12-01
2006-01-01
2006-02-01
2006-03-01
2006-04-01
2006-05-01
2006-06-01
2006-07-01
2006-08-01
2006-09-01
2006-10-01
2006-11-01
2006-12-01
2007-01-01
2007-02-01
2007-03-01
2007-04-01
2007-05-01
2007-06-01
2007-07-01
2007-08-01
2007-09-01
2007-10-01
2007-11-01
2007-12-01
2008-01-01
2008-02-01
2008-03-01
2008-04-01
2008-05-01
2008-06-01
2008-07-01
2008-08-01
2008-09-01
2008-10-01
2008-11-01
2008-12-01
2009-01-01
2009-02-01
2009-03-01
2009-04-01
2009-05-01
2009-06-01
2009-07-01
2009-08-01
2009-09-01
2009-10-01
2009-11-01
2009-12-01
2010-01-01
2010-02-01
2010-03-01
2010-04-01
2010-05-01
2010-06-01
2010-07-01
2010-08-01
2010-09-01
2010-10-01
2010-11-01
2010-12-01
2011-01-01
2011-02-01
2011-03-01
2011-04-01
2011-05-01
2011-06-01
2011-07-01
2011-08-01
2011-09-01
2011-10-01
2011-11-01
2011-12-01
2012-01-01
2012-02-01
2012-03-01
2012-04-01
2012-05-01
2012-06-01
2012-07-01
2012-08-01
2012-09-01
2012-10-01
2012-11-01
2012-12-01
2013-01-01
2013-02-01
2013-03-01
2013-04-01
2013-05-01
2013-06-01
2013-07-01
2013-08-01
2013-09-01
2013-10-01
2013-11-01
2013-12-01
2014-01-01
2014-02-01
2014-03-01
2014-04-01
2014-05-01
2014-06-01
2014-07-01
2014-08-01
2014-09-01
2014-10-01
2014-11-01
2014-12-01
2015-01-01
2015-02-01
2015-03-01
2015-04-01
2015-05-01
2015-06-01
2015-07-01
2015-08-01
2015-09-01
2015-10-01
2015-11-01
2015-12-01
2016-01-01
2016-02-01
2016-03-01
2016-04-01
2016-05-01
2016-06-01
2016-07-01
2016-08-01
2016-09-01
2016-10-01
2016-11-01
2016-12-01
2017-01-01
2017-02-01
2017-03-01
2017-04-01
2017-05-01
2017-06-01
2017-07-01
2017-08-01
2017-09-01
2017-10-01
2017-11-01
2017-12-01
2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01
2019-01-01
2019-02-01
2019-03-01
2019-04-01
2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01
2020-05-01
2020-06-01
2020-07-01
2020-08-01
2020-09-01
2020-10-01
2020-11-01
2020-12-01
2021-01-01
2021-02-01
2021-03-01
2021-04-01
2021-05-01
2021-06-01
2021-07-01
2021-08-01
2021-09-01
2021-10-01
2021-11-01
2021-12-01
2022-01-01
2022-02-01
2022-03-01
2022-04-01
2022-05-01
2022-06-01
2022-07-01
2022-08-01
2022-09-01
2022-10-01
2022-11-01
2022-12-01
2023-01-01
2023-02-01
2023-03-01
2023-04-01
2023-05-01
2023-06-01
2023-07-01
2023-08-01
2023-09-01
2023-10-01
2023-11-01
2023-12-01
2024-01-01
2024-02-01
2024-03-01
2024-04-01

In [53]:
conn = sqlite3.connect('RealEstateTransactions.db')
cursor = conn.cursor()
# SELECT * FROM transactions limit 10
result = cursor.execute('SELECT * FROM transactions order by year asc, month asc limit 10').fetchall()

In [54]:
result

[(1,
  'f56b0312f73c4a209c0e2e54311f82b7eae6614d82f46e3ed74885096129ca2e',
  '19,250',
  '1996',
  '2006',
  '1',
  '5',
  '옥련동',
  '현대3',
  '84.6',
  '635-1',
  '28185',
  '12'),
 (2,
  '91ff3a7c05aeb6502039351b6551cb530d915709fd5b7c6d81715307083796ae',
  '11,550',
  '1997',
  '2006',
  '1',
  '6',
  '옥련동',
  '현대4',
  '59.985',
  '637-1',
  '28185',
  '3'),
 (3,
  '06b81cb0ff5b6dfc8283f421a8314696e9b8121cdeec592ebde7aab9bc680288',
  '10,900',
  '1997',
  '2006',
  '1',
  '10',
  '옥련동',
  '현대5',
  '59.985',
  '639-1',
  '28185',
  '2'),
 (4,
  '380bf9056ab9a8a0436cada9b0b45cdabc32435fb0ea21a4e37c8ab14cd3b462',
  '17,000',
  '1997',
  '2006',
  '1',
  '14',
  '옥련동',
  '현대5',
  '84.6',
  '639-1',
  '28185',
  '8'),
 (5,
  'ac649a8a6d6ce98021e54bb4c1b60935697cb109b4d87daf5246d7421773bee5',
  '4,980',
  '1997',
  '2006',
  '1',
  '15',
  '옥련동',
  '아주1',
  '29.7',
  '640-1',
  '28185',
  '13'),
 (6,
  'ad77a190b3e065cffa3839155d49b250f3cf8d8d0d45a41fb84510650894166a',
  '11,800',
  '1997',
  '2006',
  '1',
  '15',
  '옥련동',
  '현대4',
  '59.985',
  '637-1',
  '28185',
  '21'),
 (7,
  '8e75774d98b20b3569f89055ba6d6b8ace7ed35db4781411f07008781781c83d',
  '12,000',
  '1998',
  '2006',
  '1',
  '16',
  '옥련동',
  '풍림',
  '59.96',
  '643-2',
  '28185',
  '6'),
 (8,
  '9c442da84f1ade964d91369606081fec046f9bd270d7d21efbfec17b26a3af64',
  '11,400',
  '1997',
  '2006',
  '1',
  '17',
  '옥련동',
  '현대5',
  '59.985',
  '639-1',
  '28185',
  '4'),
 (9,
  'f023f59deff0b4b7abd86340e06fca3a79d5edea768672ede20f81352039b7e7',
  '13,850',
  '1995',
  '2006',
  '1',
  '19',
  '옥련동',
  '서해',
  '74.055',
  '632',
  '28185',
  '18'),
 (10,
  '37454b4f52a791677bc7602d805905bc94575327cd121b8220fb16e9cbae16fd',
  '28,600',
  '1993',
  '2006',
  '1',
  '23',
  '옥련동',
  '럭키송도',
  '134.94',
  '626',
  '28185',
  '15')]